<app-navbar></app-navbar>

<div class="card w-100">

    <div class="content card-body">

        <div class="card">
            <div class="card-header">
                <h3> <strong> Upload an EEG </strong></h3>
            </div>
            <div class="card-body">
                <form (ngSubmit)="submitEEG()">
                    <div class="operator row">
                        <div class="col-4">
                            <label for="operator">Operator ID:</label>
                        </div>
                        <div class="col-8">
                            <input [(ngModel)]="operatorID" type="text" id="operator" name="operator" required>
                        </div>
                    </div>
                    <div class="patient row">
                        <div class="col-4">
                            <label for="patient">Patient ID:</label>

                        </div>

                        <div class="col-8">
                            <input [(ngModel)]="patientID" type="text" id="patient" name="patient" required>
                        </div>

                       

                    </div>


                    <div class="upload">
                        <div class="col-12 ">

                        

                            <label for="file">Upload file</label>
                                <!-- <input [(ngModel)]="file" type="file" id="file" name="file" accept=".edf" required> -->
                                <app-uploading></app-uploading>


                        </div>
                  

                    </div>

                </form>
            </div>

        </div>
        <button type="button" (click)="submitEEG()">upload</button>
    </div>
</div>