
<div class="table-responsive" style="margin-top: 1em;" *ngIf="events">
    <table id="eeg_table" class="table align-middle table-striped ">
        <thead>

            <tr>
                <th></th>
                <th class="text-dark font-medium fs-4"> Event </th>
                <th class="text-dark font-medium fs-4"> <i class="bi bi-calendar-week-fill" style="margin-right: 0.3em;"></i>Date </th>
                <th class="text-dark font-medium fs-4"> <i class="bi bi-file-earmark-text-fill" style="margin-right: 0.3em;"></i>EEG </th>
                <th class="text-dark font-medium fs-4"> <i class="bi bi-file-person-fill" style="margin-right: 0.3em;"></i>Person </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of events  | paginate: config'>
                
                <td class="fs-4">{{e.id}}</td>

                <td class="fs-4">{{e.type}}</td>

                <td class="fs-4">{{e.timestamp  | date:'short':'UTC'}}</td>

                <td class="fs-4">
                    <button type="button" routerLink="/workspace/{{e.eeg}}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                   {{e.eeg}} </button> 
                </td>

                <td class="fs-4">{{map.get(+e.person)}}</td>

            </tr>              
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    
</div>

