<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title"><strong>   EEG Exams </strong></h4>
                <h5 class="card-subtitle mt-1">Overview of the projects</h5>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">ID</th>
                        <th class="text-dark font-medium fs-4">Date</th>
                        <th class="text-dark font-medium fs-4">Patient</th>
                        <th class="text-dark font-medium fs-4">Priority</th>
                        <th class="text-dark font-medium fs-4">Analyse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let eeg of lst_EEG'>

                        <!-- <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.uname}}</h5>
                                    <span class="text-muted">{{ts.gmail}}</span>
                                </div>
                            </div>
                        </td> -->

                        <!-- <td class="fs-4">{{eeg.id}}</td>
                        <td class="fs-4">{{eeg.date}}</td>
                        <td class="fs-4">{{eeg.patient.name}}</td> -->

                        <td class="fs-4">ai</td>
                        <td class="fs-4">ai</td>
                        <td class="fs-4">ai</td>
                        <td class="fs-4">ai</td>
                        <td>
                            <a href="/workspace/${eeg.id}">
                                <button type="button" class="btn btn-primary"> <i class="bi bi-eye-fill"></i> </button>
                            </a>
                        </td>

                        <!-- <td>
                            <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                        </td>
                        
                        <td>
                            <a href="/workspace/${eeg.id}">
                                <button type="button" class="btn btn-primary"> <i class="bi bi-eye-fill"></i> </button>
                            </a>
                        </td> -->
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>