<div class="card">
    <div class="card-body">
        <!-- title -->

        <!-- <h4 class="card-title"><strong>   EEG Exams </strong></h4> -->
        <!-- <h5 class="card-subtitle mt-1">Overview of the projects</h5> -->

          
        <!-- title -->
        <div class="table-responsive" *ngIf="map.size != 0" style="margin-top: 1em;">
            <table id="eeg_table" class="table align-middle table-striped ">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-dark font-medium fs-4"> <i class="bi bi-file-person-fill" style="margin-right: 0.3em;"></i> Patient</th>
                        <th class="text-dark font-medium fs-4"> <i class="bi bi-calendar-week-fill" style="margin-right: 0.3em;"></i> Date</th>
                        <th class="text-dark font-medium fs-4"> <i class="bi bi-file-earmark-text-fill" style="margin-right: 0.3em;"></i> Institution</th>
                        <th class="text-dark font-medium fs-4"> <i class="bi bi-exclamation-diamond-fill" style="margin-right: 0.3em;"></i> Priority</th>
                        <th class="text-dark font-medium fs-4"> <i class="bi bi-file-earmark-text-fill" style="margin-right: 0.3em;"></i> Report</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let eeg of lst_EEG'>

                        <td class="fs-4">{{eeg.id}}</td>

                        <td>
                            <a *ngIf="map.get(eeg.id) != 'undefined'" routerLink="/patients/{{eeg.patient}}">
                                <!-- <button type="button" class="btn btn-primary btn-sm" style="font-size: medium;"> {{map.get(eeg.id)}} </button> -->
                                <button type="button" class="btn btn-primary"
                                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                {{map.get(eeg.id)}}
                                </button>
                            </a>
                        </td>

                        <td>
                            <!-- <h5 class="mb-0 font-medium">{{eeg.timestamp | date:'dd/MM/yyyy'}}</h5> -->
                            <span class="text-muted">{{eeg.timestamp | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                        
                            <!-- <h5 class="mb-0 font-medium">{{eeg.timestamp | date:'dd/MM/yyyy'}}</h5> -->
                            <span class="text-muted">{{map_eeg_institution.get(+eeg.operator) }}</span>
                        </td>

                        <td>
                            <span *ngIf="eeg.priority == '1'" class="badge text-bg-success"> very low </span>
                            <span *ngIf="eeg.priority == '2'" class="badge text-bg-info"> low </span>
                            <span *ngIf="eeg.priority == '3'" class="badge text-bg-secondary" style="font-size:medium;"> medium </span>
                            <span *ngIf="eeg.priority == '4'" class="badge text-bg-light"> high </span>
                            <span *ngIf="eeg.priority == '5'" class="badge text-bg-dark"> urgent </span> 
                        </td>

                        <td>
                            <span *ngIf="eeg.report == null" class="badge rounded-pill text-bg-secondary" style="font-size:medium;"> to do </span>
                            <span *ngIf="eeg.report != null" class="badge rounded-pill text-bg-sucess" id="inprogress"> in progress </span>
                        </td>

                        <td style="text-align: right; vertical-align: middle;">

                            <button type="button" class="btn btn-primary" (click)="redirect(eeg.id)" style="margin-right: 1em;"> <i class="bi bi-eye-fill" ></i> </button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#my-modal" style="margin-right: 1em;" (click)="save2delete( eeg.id )"> <i class="bi bi-trash-fill"></i> </button>

                        </td>

                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>


<!-- ------------------------------------------- ARE YOU SURE U WANNA DELETE THE EXAM ------------------------------------------- -->
<div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">

                    <div class="card-header pb-0 bg-white border-0 ">
                        <h4> Are you sure you wanna delete this exam?</h4>
                        <span class="text-muted "> This change cannot be reversed, be careful.</span>
                    </div>

                    <div class="card-body px-sm-4 mb-2 pt-1 pb-0"> 
                        <div class="row justify-content-end no-gutters">

                            <div class="col-auto">
                                <button type="button" class="btn btn-light text-muted" id="button" data-dismiss="modal" style="font-weight: bold">Cancel</button>
                            </div>

                            <div class="col-auto">
                                <button type="button" class="btn btn-danger px-4" id="button" data-dismiss="modal" (click)="delete()" style="font-weight: bold">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>