<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../../assets/beegbrain.png" />
    <!--===============================================================================================-->

</head>

<body>

    <div class="container-login100">
        <div class="wrap-login100">

            <div class="mb-5">

                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        Become a BeegBrain
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>

                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter your birthday">
                        <input class="input100" type="date" name="date" placeholder="Birthda">
                        <span class="focus-input100"></span>

                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter your gender!">
                        <input class="input100" type="text" name="gender" placeholder="Gender">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter your phone number">
                        <input class="input100" type="text" name="phonenumber" placeholder="Phone number">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter your address">
                        <input class="input100" type="text" name="address" placeholder="Address">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter your medical number">
                        <input class="input100" type="text" name="medicalnumber" placeholder="Medical number">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="/workspace">
                            Register
                        </a>
                    </div>




                </form>
            </div>

        </div>
    </div>






</body>

</html>