<app-navbar></app-navbar>

<div class="speed">

    <i class="bi bi-speedometer2" style="margin-left: 3px; margin-right: 3px; width: 2em; height: 2em"></i>

    <ngx-slider class="slider" invert [(value)]="speed" [options]="options" (userChangeEnd)="update()" ></ngx-slider>
    <label style="margin-left: 2em;">Time: 
        <input (keyup)="getInputValue($event)" (click)="getInputValue($event)" id="window_interval" type="number" min="1" max="60" value="30"><br>
    </label>
    <div class="drop-container col-lg-3">
        <ng-multiselect-dropdown
        [settings] = "dropdownSettings"
        [data] = "dropdownList"
        >
    
        </ng-multiselect-dropdown>
    </div>
</div>


<app-eeg-viewer [speed]=speed [interval]=window_size></app-eeg-viewer> 