<app-navbar></app-navbar>

<div class="speed">

    <i class="bi bi-speedometer2" style="margin-left: 3px; margin-right: 3px; width: 2em; height: 2em"></i>

    <ngx-slider class="slider" invert [(value)]="speed" [options]="options" ></ngx-slider> <!-- add :(userChangeEnd)="update() -->

    <button *ngIf="playing === false" (click)="play()"><i class="bi bi-play"></i></button>
    <button *ngIf="playing === true" (click)="pause()"><i class="bi bi-pause"></i></button>

    <button (click)="left()" type="button" class="btn btn-primary"><i class="bi bi-caret-left-fill"></i></button>
    <!-- Dar update da view  -->

    <label>
        <input (keyup.enter)="getInputValue($event)" (click)="getInputValue($event)"  id="window_interval" 
        type="number" max="{{eegInfo.duration}}" step="10" min="0" value="{{window_size}}" style="text-align: center;"><br>
    </label>

    <button (click)="right()" type="button" class="btn btn-primary"><i class="bi bi-caret-right-fill"></i></button>
    <!-- Carregar mais dados, se for preciso e dar update da view -->

    <div class="drop-container col-lg-3">
        <ng-multiselect-dropdown
        [settings] = "dropdownSettings"
        [data] = "dropdownList"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeselect($event)"
        (onDropDownClose)="onDropDownClose($event)"
        >
        </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3">
        <button (click)="updateView()" type="button" class="btn btn-dark">Alter view</button>
    </div>

</div>

<div class="row">
    <div class="col-lg-9 col-sm-6">
        <app-eeg-viewer 
        #child 
        *ngIf="control" 
        [initial]="initial"
        [control]="control"
        [speed]="speed" 
        [eegInfo]="eegInfo" 
        [labelsSignal]="labelsSignal" 
        [interval]="window_size"
        [indices]="indices"
        [labels]="labels"
        [signalsInSecond]="signalsInSecond"
        [updateViewControl]="updateViewControl"
        (newItemEvent)="newItem($event)"
        ></app-eeg-viewer> 

    </div>

    <div class="col-lg-3 col-sm-6">
        <app-report-editor [report]="eegInfo.report" [eeg_id]="eegInfo.id"></app-report-editor>
    </div>

</div>
