ngx-slider {
    width: 300px;
}

.speed {
    display: flex;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.fieldset {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 2em;
  }
  
  .fieldset h1 {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0; /* half of font-size */
    background: #fff;
    padding: 0 3px;
  }
