<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">

    <div class="card-body">

       

        <div class="container h-100">
            <div class="row " style="padding: 30px;">
                <h3><strong> Information about your patient </strong> </h3>
            </div>
            <div class="row align-items-center h-100">
                <div class="col-12 mx-auto">
                    <!-- ESTA MERDA ESTAVA ALINHADA E JA NAO ESTA PQ CRL -->


                    <div class="input-group my-3 d-flex">
                        <div class="col-6">
                            <input type="search" class="form-control rounded"
                            placeholder="Search by patient's name or SSN" aria-label="Search"
                            aria-describedby="search-addon" />
                        </div>
                        <div class="col-4">
                            <button class="button-18 ml-3" role="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container-xl h-100">
            <div class="row align-items-center h-100">
                <div class="col-12 mx-auto">
                    <div class="card h-100 justify-content-center">
                        <div class="card-body ">
                            <!-- title -->
                            <h4 class="card-title"> <strong> Patient's details</strong></h4>
                            <thead>
                                <p> </p>
                            </thead>

                            <!-- title -->
                            <form>

                                <div class="form-row ">
                                    <div class="form-group col-sm-4">
                                        <label for="inputEmail4">Email</label>
                                        <h5 type="email" class="form-control" id="inputEmail4">
                                            evapomposo@123.com</h5>
                                    </div>

                                    <br>
                                    <div class="form-group col-sm-4">
                                        <label for="inputNumberHealth">Health Number</label>
                                        <h5 type="email" class="form-control" id="numberHealth"> 29487154512
                                        </h5>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="inputNumberHealth">Cellphone </label>
                                        <h5 type="email" class="form-control" id="numberHealth"> 915414789
                                        </h5>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputCity"> Emergency Cellphone</label>
                                        <h5 type="text" class="form-control" id="inputCity"> 948574123 </h5>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="inputEmail4">Gender</label>
                                        <h5 type="text" class="form-control" id="inputEmail4">F</h5>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputNumberHealth"> Date of Birth </label>
                                        <h5 type="email" class="form-control" id="numberHealth"> 12-01-1987
                                        </h5>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="inputNumberHealth">Address </label>
                                        <h5 type="email" class="form-control" id="numberHealth"> Rua de São
                                            Tiago,
                                            nº 12, Aveiro</h5>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="inputEmail4">Health diseases </label>
                                        <h5 type="text" class="form-control" id="inputEmail4"> Epilepsy</h5>
                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">

                <app-eeg-table> </app-eeg-table>

            </div>

        </div>
    </div>
</div>
