
.button-18 {
  align-items: center;
  background-color: #0F5D4D;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #063128;
  color: #ffffff;
}

.button-18:active {
  background: #04362c;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* ****************************************** GENDER BUTTONS ************************************************** */

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
  background-color: #DB7093 !important;
  border-color: #DB7093 !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #6495ED !important;
  border-color: #6495ED!important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
  background-color: #C0C0C0 !important;
  border-color: #C0C0C0!important;
}

/* ************************************* SEARCH BAR ************************************************** */


 .search{
 position: relative;
 box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   
 }

 .search input{

  height: 50px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;


 }


 .search input:focus{

  box-shadow: none;
  border: 2px solid blue;


 }

 .search .fa-search{

  position: absolute;
  top: 18px;
  left: 16px;

 }

 .search button{

  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 110px;
  background: #4169E1;

 }

 /* ******************************************* CARDS *********************************************** */

 .card-body {
  background-color: #F5F5F5 !important;
 }





.op:hover {
  background-color: #f0ecec;
  cursor: pointer;
}

.op {
  width: 600px;
  background-color: white;
}