<app-navbar> </app-navbar>

<div class="row justify-content-center">
    <div class="col-lg-3">


        <div class="row">
            <div class="col-sm-6">
                <p>Full Name</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{name}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p>Profession</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{type}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Email</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{email}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Health Number</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{health_number}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div *ngIf="!isOperator" class="col-sm-6">
                <p >Medical Number</p>
            </div>
            <div *ngIf="isOperator" class="col-sm-6">
                <p >Operator Number</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{workerNumber}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Phone</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{telephone}}</p>
            </div>
        </div>

        <hr *ngIf="isOperator">

        <div *ngIf="isOperator" class="row">
            <div class="col-sm-6">
                <p >Institution</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{nameInstitution}}</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-6">
                <p >Address</p>
            </div>
            <div class="col-sm-6">
                <p class="text-muted mb-0">{{address}}</p>
            </div>
        </div>
    </div>
</div>
