<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/beegbrain.png" width="150" height="40" alt="">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard"><span class="sr-only">(current)</span>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/workspace">Workspace</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/patients">Patients</a>
        </li>
    </ul>
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log/Profile</button>
    </form>
</nav>