<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-static-top">

    <a href="/dashboard">
        <img src="../../../assets/beegbrain.png"  width="200"  alt=""> <!--  width="150" height="40" -->
    </a>

    <ul class="navbar-nav mr-auto align-items-center">

        <li class="nav-item">
            <button type="button" class="btn btn-secondary" routerLink="/dashboard" style="font-size: medium;">  Dashboard</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-secondary" routerLink="/workspace/" style="font-size: medium;"> Workspace</button>
        </li>

        <li class="nav-item">
            <button type="button" class="btn btn-secondary" routerLink="/patients" style="font-size: medium;">Patients</button>
        </li>

    </ul> 

    <form class="form-inline">
        <button class="btn-lg" routerLink="/profile" style="size:1000px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; color: white; " type="submit">
            <i  class="bi bi-person-circle" style="margin-right: 0.3em;"></i>
            {{name}}
        </button>
    </form>

    <form class="form-inline">
        <button class="btn-lg" (click)="clearInfo()" routerLink="/login" style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; color: white; " type="submit">
            <i class="glyphicon glyphicon-log-out" style="margin-right: 0.3em;"></i>
            Logout
        </button>
    </form>

</nav>
