
.cross {
    padding: 10px;
    cursor: pointer;
    font-size: 23px;
}

.cross i{
    
    margin-top: -5px;
    cursor: pointer;
}

.comment-box {
    padding: 5px;
}

.comment-area textarea {
    resize: none;
    height: 10em;
}


.text-bg-dark, .text-bg-dark:hover, .text-bg-dark:active, .text-bg-dark:visited {
    background-color: #C41E3A !important;
    border-color: #C41E3A !important;
    font-size:medium;
}
.text-bg-light, .text-bg-light:hover, .text-bg-light:active, .text-bg-light:visited {
    background-color: #F28C28 !important;
    border-color: #F28C28 !important;
    font-size:medium;
}
.text-bg-info, .text-bg-info:hover, .text-bg-info:active, .text-bg-info:visited {
    background-color: #6495ED !important;
    border-color: #6495ED !important;
    font-size:medium;
}
.text-bg-success, .text-bg-success:hover, .text-bg-success:active, .text-bg-success:visited {
    background-color: #5D3FD3 !important;
    border-color: #5D3FD3 !important;
    font-size:medium;
}