@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
    background: #000;
    
}





 .cross {
         padding: 10px;
    color: #C9302C;
    cursor: pointer;
    font-size: 23px;
 }

.cross i{
    
    margin-top: -5px;
    cursor: pointer;
}







.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #C9302C
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #C9302C !important
}

.send {
    color: #fff;
    background-color: #C9302C;
    border-color: #C9302C
}

.send:hover {
    color: #fff;
    background-color: #C9302C;
    border-color: #C9302C
}

.rating {
   display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;
   
    
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #ff0000;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}