<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title"> <strong> Error Area </strong> </h4>
                <h5 class="card-subtitle mt-1">Check which exams are with some issues </h5>
              

        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Exam ID</th>
                        <th class="text-dark font-medium fs-4">Pacient</th>
                        <th class="text-dark font-medium fs-4">Status</th>
                        <th class="text-dark font-medium fs-4">Review</th>
                    </tr>
                </thead>
                <tbody>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium"> a </h5>
                                    <span class="text-muted"> </span>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4"></td>
                        <td>
                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-primary"> <i class="bi bi-eye-fill"></i> </button>
                        </td>
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-center">

            <button type="button" style="border-radius: 3%" class="btn btn-danger"> Contact support team <i class="bi bi-envelope-fill" ></i></button>

        </div>

    </div>
    
    
</div>