<div class="filters" style="margin-left: 50px;">
    <form method="GET" [formGroup]="filtersForm">

    <div class="card">
         <h4 style="align-self: center;"> <strong> Search by</strong></h4>

        <div class="card-body">

            <div class="card-header"> <strong>
                    EEG ID
                </strong></div>
            <div class="form-outline">
                <input  (keyup.enter)="getFiltersFormData()"  formControlName="eeg_id" placeholder="ID" type="search" id="eegId"  autocomplete="on" class="form-control"
                #searchTerm   />
                <label class="form-label" for="formControlDefault"></label>
            </div>
        </div>



        <div class="card-body">
            <div class="card-header"> <strong> Patient </strong></div>
            <div class="form-outline">
                <input (keyup.enter)="getFiltersFormData()"   formControlName="patient_id" placeholder="SSN" type="search" id="patientssn" class="form-control" />
                <label class="form-label" for="formControlDefault"></label>
                <input (keyup.enter)="getFiltersFormData()"   formControlName="patient_id" placeholder="Name" type="search" id="patientname" class="form-control" />
                <label class="form-label" for="formControlDefault"></label>
            </div>

        </div>

        <div class="card-body">

        <div class="card-header"> <strong>
                Date
            </strong></div>
        <div class="form-outline">
            <input (change)="getFiltersFormData()"   placeholder="ID" formControlName="date" type="date" id="date" #date  class="form-control" />
            <label class="form-label" for="formControlDefault"></label>
        </div>
       


        <div class="card-header"> <strong>
                Operator
            </strong></div>
        <div class="form-outline">
          
            
            <label class="form-label" for="formControlDefault"></label>
            <input (keyup.enter)="getFiltersFormData()"   placeholder="Name" formControlName="operator_id" type="search" #operator_id id="operator_id" class="form-control" />
            <label class="form-label" for="formControlDefault"></label>
        </div>
        </div>

        <div class="card-body">
            
        <div class="card-header"> <strong> Priority </strong></div>
        <select class="form-control" id="priority" #priority formControlName="priority" (change)="getFiltersFormData()">            
            <option value="5">Urgent</option>
                <option value="4">High</option>
                <option value="3">Medium</option>
                <option value="2">Low</option>
                <option value="1">Very Low</option>
                <option value="">None</option>

            </select>
        </div>
    </div>
</form>

</div>