<div class="filters" style="margin-left: 50px;">

    <div class="card">
         <h4 style="align-self: center;"> <strong> Search by</strong></h4>

        <div class="card-body">

            <div class="card-header"> <strong>
                    EEG ID
                </strong></div>
            <div class="form-outline">
                <input placeholder="ID" type="search" id="eegId" class="form-control" />
                <label class="form-label" for="formControlDefault"></label>
            </div>
        </div>



        <div class="card-body">
            <div class="card-header"> <strong> Patient </strong></div>
            <div class="form-outline">
                <input placeholder="SSN" type="search" id="patientssn" class="form-control" />
                <label class="form-label" for="formControlDefault"></label>
                <input placeholder="Name" type="search" id="patientname" class="form-control" />
                <label class="form-label" for="formControlDefault"></label>
            </div>

        </div>

        <div class="card-body">

        <div class="card-header"> <strong>
                Date
            </strong></div>
        <div class="form-outline">
            <input placeholder="ID" type="date" id="date" class="form-control" />
            <label class="form-label" for="formControlDefault"></label>
        </div>
        </div>

        <div class="card-body">

        <div class="card-header"> <strong>
                Operator
            </strong></div>
        <div class="form-outline">
            <input placeholder="SSN" type="search" id="operatorssn" class="form-control" />
            <label class="form-label" for="formControlDefault"></label>
            <input placeholder="Name" type="search" id="operatorname" class="form-control" />
            <label class="form-label" for="formControlDefault"></label>
        </div>
        </div>

        <div class="card-body">
            
        <div class="card-header"> <strong> Priority </strong></div>
        <select class="form-control" id="exampleSelect">
            <option value="5">Urgent</option>
                <option value="4">High</option>
                <option value="4">Medium</option>
                <option value="2">Low</option>
                <option value="1">Very Low</option>
            </select>
        </div>
    </div>

</div>