<app-navbar></app-navbar>

  <div class="col-lg-3">
    <app-eeg-filters> </app-eeg-filters>
  </div>

  <div class="col-lg-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="allexams-tab" data-toggle="tab" href="#allexams" role="tab"
          aria-controls="allexams" aria-selected="true"><strong> Transfered Areas </strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="errorarea-tab" data-toggle="tab" href="#errorarea" role="tab" aria-controls="errorarea"
          aria-selected="false">Error Area</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade in show active" id="allexams" role="tabpanel" aria-labelledby="allexams-tab">

        <app-eeg-table *ngIf="lst_eeg.length != 0" [allEEG]="lst_eeg"></app-eeg-table>

        <div *ngIf="lst_eeg.length == 0" class="alert alert-dark" role="alert">
          EEG's not found :/ Sorry
        </div>
        
      </div>
      <div class="tab-pane fade" id="errorarea" role="tabpanel" aria-labelledby="errorarea-tab">
        <app-errorarea> </app-errorarea>
      </div>
    </div>


  </div>




