<app-navbar></app-navbar>

<div class="col-lg-3 col-sm-12 col-md-4">
  <app-eeg-filters (sendFiltersEvent)="sendFilters($event)" > </app-eeg-filters>
</div>


  
<div class="col-lg-8 col-sm-12 col-md-7">
  
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="allexams-tab" data-toggle="tab" href="#allexams" role="tab"
        aria-controls="allexams" aria-selected="true" style="font-size: large;"> 
        <i class="bi bi-folder-check" style="margin-right: 0.25em;"></i> <strong> Transfered Area </strong></a>
    </li>

    <li class="nav-item" *ngIf="type == 'operator'">
      <a class="nav-link" id="errorarea-tab" data-toggle="tab" href="#errorarea" role="tab" aria-controls="errorarea" aria-selected="false"  style="font-size: large;">
        <i class="bi bi-exclamation-triangle" style="margin-right: 0.25em;"></i>
        Error Area 
        <span *ngIf="lst_error_eeg.length != 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="color:white;"> {{lst_error_eeg.length}}</span>
      </a>
    </li>

    <div class="ml-auto">
      <button *ngIf="type === 'operator'" type="button"  data-toggle="modal" data-target="#my-modal"  class="btn btn-primary" style="font-size: medium;"> <!-- [routerLink]="'/upload'" -->
        <i class="bi bi-file-earmark-arrow-up"></i> <strong> Upload </strong> 
      </button>
    </div>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in show active" id="allexams" role="tabpanel" aria-labelledby="allexams-tab">

      <app-eeg-table *ngIf="lst_eeg.length != 0" [allInstitutions]="lst_institutions" [allOperators]="lst_operators" [allEEG]="lst_eeg" [allPatients]="lst_patient" (eeg_deleted)="onDelete($event)"></app-eeg-table>
      
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade in show active" id="allexams" role="tabpanel" aria-labelledby="allexams-tab">
            
      
            <div *ngIf="lst_eeg.length == 0">
              <img src="../../../assets/no-data-found.png" alt="no data found :("/>
            </div>
            
          </div>
          <div class="tab-pane fade" id="errorarea" role="tabpanel" aria-labelledby="errorarea-tab">
            <app-errorarea *ngIf="lst_error_eeg.length != 0" [allEEG]="lst_error_eeg" [allPatients]="lst_patient" (eeg_deleted)="onDelete($event)"></app-errorarea>
      
            <div *ngIf="lst_error_eeg.length == 0">
              <img src="../../../assets/no-data-found.png" alt="no data found :("/>
            </div>
          </div>
        </div> 
      </div> 
      
    </div>
    <div class="tab-pane fade" id="errorarea" role="tabpanel" aria-labelledby="errorarea-tab">
      <app-errorarea *ngIf="lst_error_eeg.length != 0" [allEEG]="lst_error_eeg" [allPatients]="lst_patient" (eeg_deleted)="onDelete($event)"></app-errorarea>

      <div *ngIf="lst_error_eeg.length == 0">
        <img src="../../../assets/no-data-found.png" alt="no data found :("/>
      </div>
    </div>
  </div> 

<!-- ------------------------------------------- UPLOAD MODAL ------------------------------------------- -->
<div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0" >
          <div class="modal-body p-0">
              <div class="card border-0 p-sm-3 p-2">

                <h3 style="text-align: center;"> <strong> Upload an EEG </strong></h3>
        
                <div class="card-body">
                    <form > <!-- (ngSubmit)="submitEEG()" -->
        
                      <div class="col-10">
                        <input class="effect-1" type="text" placeholder="Patient Health Number">
                          <span class="focus-border"></span>
                      </div>

                      <div class="col-lg-12">
                        <!-- <select  id="priority" name="priority"  required>
                            <option value="null"> --- Priority --- </option>
                            <option value="Very High">Very High</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                            <option value="Very Low">Very Low</option>
                        </select> -->

                        <igx-combo #combo class="combo" [itemsMaxHeight]="250"
                            [data]="lData" [displayKey]="'field'" [valueKey]="'field'"
                            placeholder="Location(s)" searchPlaceholder="Search...">
                        </igx-combo>

                        
                      </div>
        
                      <div class="col-lg-12">
                          <app-uploading (newFileEvent)="getFiles($event)"></app-uploading>
                      </div>
        
                    </form>

                  
              </div>
              

                  <div class="card-body px-sm-4 mb-2 pt-1 pb-0"> 
                      <div class="row justify-content-end no-gutters">

                          <div class="col-auto">
                              <button type="button" class="btn btn-light text-muted" id="button" data-dismiss="modal" style="font-weight: bold">Cancel</button>
                          </div>

                          <div class="col-auto">
                            <!-- <button type="button" (click)="submitEEG()">upload</button> -->
                              <button type="button" class="btn btn-success px-4" id="button" data-dismiss="modal"  style="font-weight: bold">Upload</button>
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
      </div>
  </div>
</div>