<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <app-pie-chart *ngIf="eegs.length != 0 && reports.length != 0" [eegs]="eegs" [reports]="reports"></app-pie-chart>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
        <app-event-table *ngIf="lst_doctors.length != 0 && lst_operators.length != 0" [lst_doctors]="lst_doctors" [lst_operators]="lst_operators"></app-event-table>
    </div>
</div>
